<%= render 'shared/header' %>

<div class="about-main">
  <h2>What the actual fuck is memeshit</h2>
  <p>
    It's the dankest website 2 share/browse dankest memes
    you can post your meme or do other shit
  </p>
<img class="about-img" src="/kappa.jpg">
</div>
