<%= render 'shared/header' %>

<div class ="main top-main">
	<div class="top-massage">
		<h2>Born too late to explore the earth<br>Born too ealry to explore the universe<br>Born just in time to browse dank memes</h2>
		<p>Share/Find the dankest meme on memeoon</p>
	</div>
</div>

